<%- include("partials/header.ejs") %> 
<%- include("partials/navbar.ejs") %>
<body>
    <h1>Mercado de Players</h1>    
    <div class="container inline">
                <% players.forEach(element => { %> 

                    <div class="card " style="width: 18em;">
                        <img class="card-img-top" src="<%= element.pic %>" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><%= element.name %></h5>
                            <p class="card-text"><%= element.lane %></p>
                            <p class="card-text"><%= element.org.name %></p>
                            <a class="btn btn-success" href="#">Comprar</a>
                            <a href="#" class="btn btn-danger">Vender</a>
                        </div>
                    </div>
                <% }) %>
            
    </div>
</body>
<%- include("partials/footer.ejs") %>