<%- include("partials/header.ejs") %> 
<%- include("partials/navbar.ejs") %>
<body>
    <h1>Mercado de Players</h1>    
    <div class="container">
        <table class="table">
            <thead>

                <tr>
                    <th>Nome</th>
                    <th>Lane</th>
                    <th>Org.</th>
                    <th>Preço</th>
                    <th>Comp./Vend.</th>
                </tr>
            </thead>
            <tbody>
                <% players.forEach(element => { %> 
                    <tr>
                        <th><%= element.name %> </th>
                        <th><%= element.lane %></th>
                        <th><%= element.org.name %></th>
                        <th><%= element.price %></th>
                        <th>
                            <a href="/" class="btn btn-success">Comprar</a>
                            <a href="/" class="btn btn-danger">Vender</a>
                        </th>
                        
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include("partials/footer.ejs") %>